@media (min-width:1280px) {
	.container {
		padding: 0;
		max-width: 1170px
	}
}

@media (max-width:1199px) {

	.banner,
	.built-section,
	.testimonial,
	.testimonial .testimonial-content,
	.stay-way-content {
		padding: 50px 0
	}

	.faq-section {
		padding-top: 80px
	}

	.banner h1 {
		font-size: 60px
	}

	.section-title {
		font-size: 50px
	}

	.banner p {
		font-size: 22px
	}

	.logo-track,
	.how-it-works-content {
		gap: 50px
	}

	.how-it-works-content li h3 {
		font-size: 20px
	}

	.stay-way-pics .left,
	.stay-way-pics .right {
		width: 200px;
		bottom: -30px
	}

	.footer-links {
		gap: 20px
	}
}

@media (max-width:991px) {

	.how-it-works-content li h3 br,
	.testimonial .testimonial-content h3 br {
		display: none
	}
}

@media (min-width:768px) {
	.header-navbar .navbar-collapse {
		flex-grow: unset
	}
}

@media (max-width:767px) {
	.container {
		padding: 0 24px
	}

	.scroll-top-arrow {
		bottom: 20px;
		right: 20px
	}

	.header-navbar .navbar-toggler {
		padding: 0;
		outline: none;
		box-shadow: none;
		border-radius: 2px;
		width: 32px;
		height: 32px;
		border: 1px solid transparent;
		background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(90deg, #9E6EE5 0%, #FA75F8 100%);
		background-origin: padding-box, border-box;
		background-clip: padding-box, border-box
	}

	.header-navbar .navbar-toggler .navbar-toggler-icon {
		background: url(../images/toggle-icon.svg);
		width: 16px;
		height: 16px
	}

	.header-navbar .toggle-close-icon {
		position: absolute;
		width: 16px;
		top: 16px;
		right: 16px;
		z-index: 9;
		cursor: pointer
	}

	.header-navbar .navbar-list {
		position: fixed;
		right: -80%;
		top: 0;
		width: 80%;
		height: 100% !important;
		background: #06070D;
		padding: 20px;
		padding-top: 60px;
		transition: all .3s;
		-moz-transition: all .3s;
		-webkit-transition: all .3s;
		-ms-transition: all .3s
	}

	.header-navbar .navbar-nav .nav-link {
		font-size: 16px
	}

	.header-navbar .btn-common {
		width: 100%
	}

	.header-navbar .navbar-list.show {
		right: 0
	}

	.header-navbar .navbar-list.collapse:not(.show) {
		display: block
	}

	.navbar-list .navbar-nav {
		padding: 0;
		background: transparent;
		gap: 24px
	}

	.logo {
		display: inline-block;
		line-height: 0
	}

	.logo img {
		height: 12px
	}

	.banner,
	.trusted-logos,
	.built-section,
	.built-content,
	.how-it-works-content,
	.testimonial,
	.stay-way-content,
	.faq-section,
	.footer-top {
		padding: 32px 0
	}

	.header {
		padding: 16px 0;
		height: 64px
	}

	.content-area {
		padding-top: 64px
	}

	.banner h1 {
		font-size: 40px
	}

	.banner p {
		margin: 16px 0 24px 0;
		font-size: 18px
	}

	.btn-common {
		min-width: 137px;
		padding: 9px 14px;
		font-size: 20px;
		border-radius: 4px
	}

	.banner-pic {
		margin-top: 32px
	}

	.trusted-logos .title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 32px
	}

	.trusted-logos .title span {
		display: block
	}

	.logo-track,
	.how-it-works-content {
		gap: 32px
	}

	.logo-track img {
		height: 42px
	}

	.trusted-logos .trusted-circle-left,
	.trusted-logos .trusted-circle-right {
		top: 74px
	}

	.section-title {
		font-size: 32px;
		line-height: 42px
	}

	.grow-left,
	.grow-right,
	.stay-way-pics .left,
	.stay-way-pics .right,
	.section-title br {
		display: none
	}

	.mobile-grow-left,
	.mobile-grow-right {
		position: absolute;
		top: 0;
		z-index: -1;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover
	}

	.mobile-grow-left {
		left: 0
	}

	.mobile-grow-right {
		right: 0
	}

	.built-section .mobile-grow-right,
	.how-it-works .mobile-grow-right {
		top: auto;
		bottom: 0
	}

	.built-section .section-title span {
		display: block
	}

	.built-content {
		grid-template-columns: repeat(1, 1fr);
		gap: 20px
	}

	.built-content .built-boxs {
		padding: 24px;
		text-align: center;
		border-radius: 20px
	}

	.built-content .built-boxs .icon {
		margin: 0 auto;
		width: 52px
	}

	.built-content .built-boxs .icon svg {
		width: 28px;
		aspect-ratio: 1
	}

	.built-content .built-boxs h3 {
		font-size: 20px;
		line-height: 130%;
		margin: 24px 0 14px 0
	}

	.built-content .built-boxs p,
	.how-it-works-content li p {
		font-size: 14px
	}

	.how-it-works-content {
		flex-direction: column
	}

	.how-it-works-content li .number {
		width: 42px;
		font-size: 22px;
		padding-top: 6px
	}

	.how-it-works-content li h3 {
		font-size: 20px;
		margin: 32px 0 14px 0
	}

	.quotes-left {
		width: 18px;
		height: 17px;
		left: 3px;
		top: 0
	}

	.quotes-right {
		width: 18px;
		height: 17px;
		right: 3px;
		bottom: 0
	}

	.testimonial .testimonial-content {
		padding: 42px 0
	}

	.testimonial .testimonial-content h3 {
		font-size: 22px
	}

	.testimonial .testimonial-content h4 {
		margin: 24px 0 6px 0;
		font-size: 16px
	}

	.testimonial .testimonial-content p {
		font-size: 12px
	}

	.faq-section .accordion {
		margin: 32px 0 0 0
	}

	.stay-way {
		margin: 10px 0
	}

	.stay-way-content {
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 24px;
	}

	.stay-way .section-title span,
	.faq-section .section-title span {
		display: block
	}

	.stay-way .section-title {
		margin-bottom: 24px
	}

	.faq-section .accordion-button::after {
		width: 24px;
		height: 24px
	}

	.faq-section .accordion .accordion-item+.accordion-item {
		margin-top: 16px
	}

	.faq-section .accordion .accordion-item {
		padding: 20px;
		border-radius: 16px
	}

	.faq-section .accordion .accordion-item .accordion-button {
		font-size: 16px
	}

	.faq-section .accordion-body {
		padding: 14px 34px 0 0
	}

	.faq-section .accordion-body p,
	.faq-section .accordion-body ul li {
		font-size: 12px
	}

	.footer-top {
		flex-direction: column;
		gap: 32px
	}

	.footer-links li a {
		font-size: 14px;
		line-height: normal
	}

	.footer-links li {
		line-height: 18px
	}

	.social-links li a {
		width: 32px
	}

	.footer-bottom {
		padding: 20px 0
	}

	.footer-bottom p {
		font-size: 14px;
		line-height: 26px
	}

	.social-links {
		gap: 6px
	}
}

@media (max-width:374px) {
	.banner h1 {
		font-size: 36px
	}
}